@import "tailwindcss";
@import "tw-animate-css";


* {
  box-sizing: border-box;
}

:root {

  --color-black-one: #1A1A1A;
  --color-black-two: #262626;
  --color-black-three: #222327;
  --color-grey-one: #41444F;
  --color-grey-two: #B0B0B0;
  --color-white-one: #FCFCFC;
  --color-white-two: #F7F8F8;
  --color-orange-one: #F29145;
  --color-orange-two: #E05816;
  --color-red-one: #DC2626;
  --color-red-two: #F87171;
  --color-green-one: #295B40;
  
}

@theme {

  --color-black-one: var(--color-black-one);
  --color-black-two: var(--color-black-two);
  --color-black-three: var(--color-black-three);
  --color-grey-one: var(--color-grey-one);
  --color-grey-two: var(--color-grey-two);
  --color-white-one: var(--color-white-one);
  --color-white-two: var(--color-white-two);
  --color-orange-one: var(--color-orange-one);
  --color-orange-two: var(--color-orange-two);
  --color-red-one: var(--color-red-one);
  --color-red-two: var(--color-red-two);
  --color-green-one: var(--color-green-one);

}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

